body {
    height: 100vh;
    background-color: lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    background-color: rgb(168, 233, 190);
    display: flex;
    width: 900px;
    height: 550px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);

    place-items: center;
}

.container_one {
    display: flex;
    position: relative;
    margin-left: 180px;
}

.container .container_red {
    background-color: #BE0909;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 500px;
    height: 400px;
    margin-left:  -120px;
    
}

.container .container_orange {
    background-color: #FFB039;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 440px;
    
}

.forms label {
    font-weight: bold;
    display: block;
    color: white;
    margin-top: 20px;
    font-size: 14px;
    margin-left: -150px;
}

.forms input,
.forms textarea {
    width: 150px;
    
    padding: 10px;
    max-width: 250px;
    border: none;
    border-bottom: 1px solid white;
    background: transparent;
    font-size: 16px;
    outline: none;
    color: white;
    display: block;
    margin-left: -150px;
}

.forms textarea {
    resize: none;
    height: 50px;
}

.button {
    width: 120%;
    height: 50px;
    margin-top: 20px;
    padding: 10px;
    background-color: #2a9d8f;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 30px;
    text-align: center;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: greenyellow;
}

.forms input,
.forms  textarea {
    color: white;  /* Makes text visible */
}






.my-image {
    display: flex;
    width: 100%;
    height: auto;
    object-fit: cover;
}






#full-name{
    width: 1200px;

}

#message-last{
    width: 1200px;
}
